{#
 This file is part of Cursosf2Application.

Cursosf2Application is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

Cursosf2Application is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

You should have received a copy of the GNU General Public License
 along with Cursosf2Application.  If not, see
 <http://www.gnu.org/licenses/>.
#}

{% extends '::frontend_1col.html.twig' %}

{% block article %}
   <h1>Ayuda</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus sapien,
    eleifend quis pretium id, facilisis quis dui. Ut euismod pellentesque pellentesque.
    Nunc mi elit, feugiat ut vulputate sed, mollis quis nisi. Donec commodo ultrices enim
    eu consequat. Maecenas ut lacus eget dui tristique porta. Donec vulputate orci quis
    neque tincidunt sit amet convallis risus scelerisque. Praesent sed mauris vitae diam
    blandit semper id ut est. Aenean eros nunc, malesuada a lacinia a, dignissim at leo.
    Quisque dui dui, feugiat in dapibus at, interdum eu tellus. In varius pellentesque enim
    in elementum. Nunc ac odio nec quam vehicula rutrum. Praesent ullamcorper adipiscing purus,
    at convallis quam vehicula vitae. Nulla facilisi.</p>

    <p>Etiam diam nunc, rhoncus eu rutrum et, adipiscing id mi. Pellentesque ipsum libero, tempor
    ut fermentum at, sodales mollis lorem. Nam gravida rutrum laoreet. Aliquam nibh felis, luctus
    ac rhoncus mattis, iaculis ut quam. Vivamus eu iaculis nisi. Sed et commodo nunc. Nunc eget lorem
    mi. Nam sed libero mi. Cras quis pellentesque diam. Quisque vehicula, felis eu placerat auctor, odio
    nibh viverra orci, sit amet egestas neque neque ultrices nisl. Sed congue odio et mauris eleifend interdum.</p>

{% endblock%}
