{#
 This file is part of Cursosf2Application.

Cursosf2Application is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

Cursosf2Application is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

You should have received a copy of the GNU General Public License
 along with Cursosf2Application.  If not, see
 <http://www.gnu.org/licenses/>.
#}

{% extends "::base.html.twig" %}

{% block body %}
<div id='contenedor'>
    <header>
        <div id='logo'><img src="/images/static/logo.png"></div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Buscar</a></li>
                <li><a href="#">Acceso</a></li>
            </ul>
        </nav>
    </header>
    <article class="portada">
        <section class="próximas-reuniones">
            #LISTADO DE PRÓXIMAS REUNIONES
        </section>

        <section class="ultimas-reuniones">
            #LISTADO DE ÚLTIMAS REUNIONES
        </section>

        <section class="buscar-reuniones">
            #FORMULARIO DE BÚSQUEDA DE REUNIONES
        </section>

        <section class="ultimos-movimientos">
            #MUESTRA ÚLTIMOS MOVIMIENTOS
        </section>

    </article>
    <footer>
        &copy; - 2012 - Cursosf2Application
        <a href="#">Quiénes somos</a>
        <a href="#">Contacto</a>
        <a href="#">Ayuda</a>
    </footer>
</div>

{% endblock %}